<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/about.css">
    <title>About</title>
  </head>
  <body>
    <h1>About Moodflix</h1>
    <div id="info">
      <p>Netflix is an online movie streaming service that has over 125 million subscribers. With around 4,010 movies to choose from it can be hard
        for millenials and oldies alike to choose something to watch. Moodflix is a companion application to Netflix that chooses movies for you to watch based on
        your mood and occassion. This way you can choose something catered to what you want and possibly what the family wants to watch on family night. Now you won't spend more time looking than watching!</p>
    </div>
    <div id="credit">
      <p>Created by Jamison Johnson, Shaza Mehdi, and Darius Daniel</p>
    </div>
  </body>
</html>
