<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<center>
<img src="logo.png" alt="Logo" class="center" >
</center>

<h1>select your mood:</h1>
<select>
  <option value="inspirational">Inspirational</option>
  <option value="silly">Silly</option>
  <option value="angry">Angry</option>
  <option value="melancholy">Melancholy</option>
</select>
<h1>select the occasion:</h1>
<select>
  <option value="Date Night">Date Night</option>
  <option value="Family Night">Family Night</option>
  <option value="Alone Time">Alone Time</option>
  <option value="Casual Watching">Casual Watching</option>
</select>


<button type="button">Find a Movie</button>

</body>
</html>
