body {
    background-color: darkred;
}

h1 {
    color: white;
    margin-left: 20px;

}
h2{
  color: white;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
img {
  padding-top: 7%
}

button {

}
form {
  padding-top:  10%
}
