body {
    background-color: darkred;
}

h1 {
    color: white;
    font-family: Verdana
    margin-left: 7%;

}
h3{
  color: white;
  font-family: Verdana
  margin-left: 7%

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
img {
  padding-top: 7%
}

button {
/* margin-top: 7% */
}
form {
}
